@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.button {	
  background-color: var(--color-background-mute);	
  border-width: 2.5px;	
  border-color: var(--color-green);	
  border-radius: 15px;	
  color: var(--color-green); 	
  font-size: 25px;	
  font-weight: bold;	
  text-align: center;	
  text-decoration: none;	
  display: inline-block;	
  cursor: pointer;	
  width: 200px;	
  height: 100px;	
}

a,
.blue {
  text-decoration: none;
  color: var(--color-blue);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #225f5d;
  }
}

@media (min-width: 1024px) {
  body {
    top: 50px;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
  		
@media (max-width: 1024px) {	
  body {	
    display: flex;	
    place-items: center;	
  }	
  #app {	
    display:block;	
  }	
}
}
